{% extends "main_layout.html" %}
{% block title %}Login{% endblock %}
{% block main %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" >{{ message }}</div>
        {% endfor %}
   {% endif %}
{% endwith %}
    <form action="/login" method="post" class="form">
            <input name="login" type="text" placeholder="login" required>
            <input name="password" type="password" placeholder="password" required>
        <div class="col-sm-3">
            <input class="btn" type="submit"  value="Войти" />
        </div>
    </form>
{% endblock %}